@import url("../css/font.css");


* ::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
  }

body{
    margin: 0;
    padding: 0;
    /* transition: background-color 1s ease; */
    overflow: hidden;
    
  }

body{
    background-color: rgb(56, 56, 56);
}

.section1{
    float: right;
    background-color: white;
    width: 45vw; height: 100vw;
}

.obj{
  padding-top: 15vh; 
  padding-left: 3vw; padding-right: 3vw;
}


.content{
  float: left;
  text-align: center;
  /* transition: all .15s ease-in-out; */
  width: 18vw; height: 52.8vh;  
  /* width: 350px; height: 495px;   */
  background-color: rgba(217, 217, 217, 0.45);
}

.right_content{
  float: right;
  width: 18vw;

}
#title{
  width: 17.65vw; height: 6vh;
  border: 1.5px solid rgba(0, 0, 0, 0.35);
}

.review_option{
  position: relative;
  top: 3.8vh;
  border: 1.5px solid rgba(0, 0, 0, 0.35);
  width: 18vw; height: 42.5vh;
}

.label{
  display: inline;
  float: left;
  font-family: "Pretendard-Regular";
  font-size: 18px;
  padding-left: 1.5vw;
}



/*별점*/
.rating_box {
  display: inline;
  position: relative;
  float: right;
}

.rating {
  position: relative;
  color: #ddd;
  font-size: 30px;
  text-align: center;
}

.rating input {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.rating_star {
  width: 0;
  color: #ffc107;
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}


.bottom_content{
    clear: both;
    padding-top: 4.5vh;
}

#textarea{
  width: 39vw; height: 17vh;
}

#textarea::placeholder{
  padding-left: 1vw; padding-top: 1.5vh;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  color: #BEBEBE;

}

#label{
  font-family: "Pretendard-Regular";
  font-size: 18px;
  padding-bottom: 1vh;
}

/* .embed-img{
  width: 100%;
  height: 128px;
  object-position: center;
  object-fit: cover;
  border-radius: 8px;
} */