@import url("../css/font.css");


* ::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
  }

body{
    margin: 0;
    padding: 0;
    /* transition: background-color 1s ease; */
    overflow: hidden;
    
  }


/*배경 확인용*/
body{
    background-color: rgb(56, 56, 56);
}

.section1{
  float: right;
  background-color: white;
  width: 45vw; height: 100vw;
}

.head{
  position: relative;
  width: 40.5vw;
  top: 5.5vh; left: 1.8vw;
  display: flex;
  justify-content: space-between;
}

.obj{
  padding-top: 9vh; 
  padding-left: 3vw; padding-right: 3vw;
}

*::placeholder{
  padding-left: 1vw; padding-top: 1.5vh;
  font-family: "Pretendard-Regular";
  font-size: .8vw;
  color: #BEBEBE;

}

.one_line_review{
  text-align: center;
  /* transition: all .15s ease-in-out; */
  width: 39vw; height: 15vh;  
}

#one_line_review_text{
    width: 39vw; height: 5.5vh;
}

.detail_review{
    width: 39vw; height: 5.5vh;
   
}

.detail_review_header{
    width: 39vw;
    display: flex;
    justify-content: space-between;

}

.text_effect{
    padding-left: 1vw;

}

.label{
    display: inline;
    float: left;
    font-family: "Pretendard-Regular";
    font-size: .9vw;
    padding-bottom: 1vh;
}

/* img{
    margin: 0;
    width: 2vw; height: 2vh;
}
#underline{
    width: 2.5vw; height: 2.2vh;
    padding-top: .5vh;
} */

#textarea{
  width: 39vw; height: 60vh;
  resize: none;
}

#textarea::placeholder{
    font-size: .9vw;
}