@import url("../css/font.css");


* ::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
  }

body{
    margin: 0;
    padding: 0;
    /* transition: background-color 1s ease; */
    overflow: hidden;
  }


/*배경 확인용*/
/* body{
    background-color: rgb(56, 56, 56);
} */

.section{
  float: right;
  background-color: white;
  width: 45vw; height: 100vw;
}

.offcanvas-header{
  position: relative;
  width: 40.5vw !important;
  top: 5.5vh !important; left: 1.8vw !important;
  display: flex;
  justify-content: space-between;
}



.one_line_review{
  text-align: center;
  /* transition: all .15s ease-in-out; */
  width: 39vw; height: 15vh;  
}

#one_line_review_text{
    width: 39vw; height: 5.5vh;
    padding-left: 1vw;
    font-family: "Pretendard-Regular";
    font-size: 1vw;
}

.detail_review{
    width: 39vw; height: 5.5vh;
   
}

.detail_review_header{
    width: 39vw;
    display: flex;
    justify-content: space-between;

}

.text_effect{
    padding-left: 1vw;

}

.d_label{
    display: inline;
    float: left;
    font-family: "Pretendard-Regular";
    font-size: .9vw;
    padding-bottom: 1vh;
}


#detail_textarea{
  width: 39vw; height: 60vh;
  padding-left: 1vw; padding-top: 2vh;
  resize: none;
  font-family: "Pretendard-Light";
  font-size: .9vw;
}

