@font-face {
  font-family: 'SangSangYoungestDaughter';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/SangSangYoungestDaughter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-weight: 300;
    font-family: "Pretendard-Light";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
      format("woff");
  }
  @font-face {
    font-weight: 400;
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
      format("woff");
  }
  @font-face {
    font-weight: 500;
    font-family: "Pretendard-Medium";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
      format("woff");
  }
  @font-face {
    font-weight: 600;
    font-family: "Pretendard-SemiBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
      format("woff");
  }
  @font-face {
    font-weight: 700;
    font-family: "Pretendard-Bold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
      format("woff");
  }
  @font-face {
    font-weight: 800;
    font-family: "Pretendard-ExtraBold";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  }
  @font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  * ::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
  }
  
  body{
    margin: 0;
    padding: 0;
    text-align: center;
    transition: background-color 1s ease;
    overflow: hidden;
  }
  
  img, p{
    display: block;
    margin: 0 auto;
    font-family: "Pretendard-Regular";
    font-size: 24px;
  }
  .container{
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
  }
  
  section {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    position: relative;
    scroll-snap-align: start;
    transition: background-color 1s ease;
  }

  .landing {
    background-color: #E56922; /* 섹션1의 배경 색상 */
    background-image: url(../icon/grid.png);
    color: #fff;
  }
  
  .box{
    position: relative;
    top: 11vh;
  }
  
  #title{
    font-family: "SangSangYoungestDaughter";
    font-size: 185px;
    color: white;
  } 
  
  #subtitle{
    font-family: "SangSangYoungestDaughter";
    font-size: 32px;
    color: white;
  } 
  
  #first-down{
    position: relative;
    width: 50px;
    top: 23vh;
  }
  
  /*섹션2 */
  
  .select {
    background-color: #FFFEFC; /* 섹션2의 배경 색상 */
    background-image: url(../icon/grid.png);
    color: #404040;
    
  }
  
  #rogo{
    font-family: "SangSangYoungestDaughter";
    font-size: 32px;
    text-align: left;
    padding: 20px;
    display: inline;

  }
  #goToRogin{
    font-family: "Pretendard-Medium";
    font-size: 24px;
    color: #404040;
    display: inline;
  }

  .existing{
    width: 50vw;
    float: left;
    display: inline;
    position: relative;
    top: 35vh;
  }
  .new{
    width: 50vw;
    float: right;
    position: relative;
    top: 35vh;
  }

  .v-line {
    position: absolute;
    border-left : 3px solid #e1e0e0;
    height : 100vh;
    left: 50vw;
    display: inline;
  }

  .em{
    font-family: "Pretendard-Bold";
    font-size: 50px;
    color: #EC5C1E;
  }

  .darkButton{
    background-color: #404040;
    color: white;
    width: 170px;
    height: 60px;
    border: none;
    border-radius: 13px;
    font-size: 27px;
    font-family: 'Pretendard-SemiBold';
  }
  .darkButton:focus{
    outline: 0;
  }
  .darkButton:hover{
    background-color: #2a2a2a;
    cursor: pointer;
    box-shadow: 0 2px 4px #424242;
  }
  .darkButton:
 /* font 사용시 */
/*  font-family: "Pretendard-ExtraBold"; */
/* 단위는 px로 하면 화면줄이면 이상해져서 ... vw vh로 합시다 */
/* 100vw  하시면 현재 창 가로길이에 에 딱맞는 사이즈입니다 */
/* 100vh 하시면 현재 창 가로길이에 에 딱맞는 사이즈입니다 */