@import url("../css/font.css");

/*기본설정 지우기*/
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

/* unactive = 안보이게하고 js로 보이게설정하기 */
.nav_unactive{
    display: none;
}
.nav_active{
    filter: invert(68%) sepia(23%) saturate(5638%) hue-rotate(334deg) brightness(97%) contrast(87%);
}

/* .active :not(.nofilter){
    filter: invert(68%) sepia(23%) saturate(5638%) hue-rotate(334deg) brightness(97%) contrast(87%);
} */



/* 전체 nav 일자로 맞추기 */
nav {
    display: flex;
    width: 100vw;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    
}

/* 각각 요소 일자로 맞추기 */
.nav_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 3vw;
    font-family: "SangSangYoungestDaughter";
    font-size: 2rem;
    width: 9.74vw;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw; 
}
.nav_login{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 3vw;
    width: 9.74vw;
    font-family: "Pretendard-Medium";
}

.real_logoImg{
    width: 55px; height: 55px;

}

/* 메뉴 디자인 수정 */
.menu {
    font-family: "omyu_pretty";
    font-size: 1rem;
    padding-left: 1.67vw;
    padding-right: 1.67vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.menuText {
    position: absolute;
    transform: translateY(25px);
}

/*코드 변경하기*/
.codeChange{
    margin-left: 3.5vw;
    font-family: "Pretendard-SemiBold";
    transform: translateY(90vh);
    background-color: #E97E41 ;
    padding: 0.5vw 1vw;
    border-radius: 10vw;
    color: white;

}
