@import url("../css/main.css");



*{margin:0; padding:0;}
a{text-decoration:none;}
.wrap{padding:10px;}

/* .btn_open{
    font-weight:bold;
    margin:5px;
    padding:4px 6px;
    background:#000; 
    color:#fff;
}
.pop_wrap{
    position:fixed;
    top:0; left:0; right:0; bottom:0; 
    background:rgba(0,0,0,.3); 
    font-size: 0; 
    text-align: center;
}
.pop_wrap:after{
    display: inline-block; 
    height:100%; 
    vertical-align: middle; 
    content:'';
} */

/*흰색 박스*/
/* .pop_box{
    display:inline-block; 
    background:#fff; 
    width: 26vw; height: 46vh;
    vertical-align: middle; 
    border-radius: 40px;
} */
/*박스 내용물*/
/* .pop_inner{
    position: relative;
    top: 5.5vh; left: 1.8vw;
    width: 21vw;
    justify-content: center;
    text-align: center;
} */

/*환영합니다*/

p#exampleModalLabel {
    padding-top: 2.8vh;
}

.dsc{
    text-align: left;
    font-family: "Pretendard-ExtraBold";
    font-size: 1.3vw;
    padding-left: 1.7vw;
}

.code_pw{
    font-family: "Pretendard-Regular";
    font-size: 1.1rem;
    margin-bottom: 1.3vh;
    width: 18vw; height: 7vh;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
    padding-left: 20px;
}
.code_pw::placeholder{
    font-family: "Pretendard-Light";
    font-size: 1.1rem;
    color: #ababab;
}

.code_pw:focus{
    outline: 1px solid #9b9b9b;
}

.btn_enter{
    position: relative;
    width: 10vw; height: 6vh;
    background-color: rgba(233, 126, 65, 1);
    color: #FFF;
    font-family: 'Pretendard-Regular';
    font-size: 20px;
    border-radius: 10px; border: 0;
}