<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../css/popUp.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section id="pop_info_1" class="pop_wrap">
        <div class="pop_box">
          <div class="pop_inner">
            <p class="dsc">환영합니다!</p><br>
            <input class="code_pw" type="text" placeholder="code"><br>
            <input class="code_pw" type="password" placeholder="pw"><br>
  
            <button type="button" class="btn_enter">입장하기&nbsp;
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 21 24" fill="none">
                <path d="M19.5 9.40193C21.5 10.5566 21.5 13.4434 19.5 14.5981L4.5 23.2583C2.5 24.413 3.2161e-07 22.9697 2.94071e-07 20.6603L8.75256e-08 3.33974C5.99862e-08 1.03034 2.5 -0.41303 4.5 0.74167L19.5 9.40193Z" fill="white"/>
              </svg>
            </button>
          </div>
        </div>
    </section>
<!-- 
    <section id="pop_info_2" class="pop_wrap">

    </section> -->


</body>
</html>     