<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- favicon 들어갈 자리 수정필요없음-->
    <link
    rel="icon"
    href="#"
    type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{% static 'image/favicon.ico' %}"
      type="image/x-icon"
    />
    <link href="../css/main.css" rel="stylesheet">

    <title>토록토록</title>
    <script type="module" src="./js/main.js" defer></script>
    <script type="module" src="./js/nav.js" defer></script>
    <!-- code 작성 -->
    <!-- nav bar는 통일을 위해 nav.html로 따로만들기위해 이거는 빼고 작성해주세요 -->
    <!-- icon들 ( 우측버튼이라던가 )은 fontawesome 사용합시다. 구글에 쳐보고 모르겠으면 물어봐주세용-->
</head>
<body>
    <nav id="nav"></nav>
    <div class="container">
        <div id="content">  
            <section class="landing">
                <div class="box">
                    <img style="width: 13vw; min-width: 150px;" src="../icon/hand_toroktorok.png">
                    <p id="title">토록토록:</p>
                    <!-- <img style="width: 550px;" src="../icon/toroktorok_title_white.png"> -->
                    <p id="subtitle">마음을 토대로 기록하다 </p><br>
                    <img id="first-down" src="../icon/system-uicons_chevron-down-double_white.png">
                </div>
            </section>
            <section class="select"> 
                <header>
                    <div id="rogo">토록토록</div>
                    <div id="goToRogin">로그인 하러가기
                        <img src="../icon/arrowdown_right.png" style="display: inline;">
                    </div>
                </header>
                <article class="existing">
                    <p class="em">기존 달력</p><br>
                    <p>달력 생성시 입력했던 code와 pw로 재입장합니다.<br>
                        입장 후 오늘의 기록을 추가해보세요.</p><br><br>
                        <button type="button" class="darkButton" onclick="showPopup();">입장하기</button>
                </article>
                <div class='v-line'></div>
                <article class="new">
                    <p class="em">새로운 달력</p><br>
                    <p>새롭게 달력을 생성합니다.<br>
                        입장 후 오늘의 기록을 작성해 보세요. </p><br><br>
                    <button type="button" class="darkButton" onclick="showPopup();">생성하기</button>
                </article>
            </section>
        </div>
    </div>
  
    <script>
        var target = document.querySelectorAll('.showPopup()');
        var targetID;
      
        // 팝업 열기
        for(var i = 0; i < target.length; i++){
          target[i].addEventListener('click', function(){
            targetID = this.getAttribute('href');
            document.querySelector(targetID).style.display = 'block';
          });
        }
        
        // 팝업 닫기
        for(var j = 0; j < target.length; j++){
          btnPopClose[j].addEventListener('click', function(){
            this.parentNode.parentNode.style.display = 'none';
          });
        }
      </script>
        
</body>
</html>