<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- favicon 들어갈 자리 수정필요없음-->
    <link
    rel="icon"
    href="#"
    type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{% static 'image/favicon.ico' %}"
      type="image/x-icon"
    />

    <title>TorokTorok</title>
</head>
<body>
    <div class="container">
        hi
        <!-- code 작성 -->
        <!-- nav bar는 통일을 위해 nav.html로 따로만들기위해 이거는 빼고 작성해주세요 -->
        <!-- icon들 ( 우측버튼이라던가 )은 fontawesome 사용합시다. 구글에 쳐보고 모르겠으면 물어봐주세용-->
    </div>

</body>
</html>