<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/review.css">
    <link rel="stylesheet" href="../css/bootstrap_css/bootstrap.css">

    <title>토록토록</title>

    <link
    rel="icon"
    href="../image/dog.svg"
    type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="../image/dog.svg"
      type="image/x-icon"
    />
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/bootstrap_js/bootstrap.js"></script>
    <script type="module" src="../js/review.js" defer></script>

</head>
<body>
    <section class="section1">
        <div class="head"><svg xmlns="http://www.w3.org/2000/svg" width="53" height="53" viewBox="0 0 53 53" fill="none">
            <path d="M14.5166 15.0669L26.9842 27.5346L14.5166 40.0023L12.9746 38.4383L23.8783 27.5346L12.9746 16.6309L14.5166 15.0669ZM23.3276 15.0669L35.7953 27.5346L23.3276 40.0023L21.7857 38.4383L32.6894 27.5346L21.7857 16.6309L23.3276 15.0669Z" fill="black"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="32" viewBox="0 0 30 32" fill="none">
            <path d="M5.00125 9.99925L7.0015 30H23L25.0003 9.99925M17.6257 22.125V13.375M12.3757 22.125V13.375M2 6.0005H10.001M10.001 6.0005L10.6695 3.32475C10.7643 2.94632 10.9828 2.61041 11.2904 2.3704C11.5979 2.13038 11.9769 2.00001 12.367 2H17.6345C18.0246 2.00001 18.4036 2.13038 18.7111 2.3704C19.0187 2.61041 19.2372 2.94632 19.332 3.32475L20.0005 6.0005M10.001 6.0005H20.0005M20.0005 6.0005H28.0015" stroke="#404040" stroke-width="2.625" stroke-linecap="round" stroke-linejoin="round"/>
          </svg></div>
        <form class="obj">
            <div class="review-header">
            </div>
            <article class="content">
                <p id="content_info" >이미지를 드롭하세요.</p>
            </article>
            <article class="right_content">
                <input type="text" id="title" placeholder="제목을 입력하세요.">
                <div class="review_option_box">
                    <div class="review_option">
                        <div class="label">날짜</div> <input type="date"><br>
                        <div class="label">무드</div><br>
                        <div class="label">태그</div><br> <select></select><br>
                            <div class="label">별점</div> 
                                <div class="rating_box">
                                    <div class="rating"> ★★★★★
                                       <span class="rating_star">★★★★★</span>
                                    <input type="range" value="1" step="1" min="0" max="10">
                                    </div>
                                </div><br>
                        <div class="label">진행도</div><br>
                        <input type="range" value="1" step="1" min="0" max="10">
                    </div>
                </div>
            </article>
            <article class="bottom_content">
                <div class="review_title"><span id="label">리뷰</span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 13 16" fill="none">
                    <path d="M12 6.26795C13.3333 7.03775 13.3333 8.96225 12 9.73205L3 14.9282C1.66667 15.698 1.99572e-07 14.7358 1.81212e-07 13.1962L5.72853e-08 2.80385C3.89258e-08 1.26425 1.66667 0.301996 3 1.0718L12 6.26795Z" fill="#404040"/>
                  </svg></div>
                <textarea id="textarea" rows="7" cols="15" placeholder="클릭하여 리뷰를 작성하세요. 화살표 클릭시 더 많은 리뷰를 작성할 수 있습니다."></textarea>
            </article>
        </form>
    </section>
</body>
</html>