<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../css/stat.css">
    <link rel="stylesheet" href="../css/bootstrap_css/bootstrap.css">

    <title>토록토록</title>

    <link
    rel="icon"
    href="../image/dog.svg"
    type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="../image/dog.svg"
      type="image/x-icon"
    />
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../js/bootstrap_js/bootstrap.js"></script>
    <script type="module" src="../js/stat.js" defer></script>

</head>
<body>
    <nav id="nav"></nav>
    <section class="section1">
        
    </section>
</body>
</html>